 


.font-family-titulo {
    font-family: "Nunito", sans-serif;
    font-weight: 400px;
    font-style: normal;
    color: white;
    width: 150px;
    height: 35px;
  }


  .body {
    background: #AFA96E;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-left: 10px;
  }

  .imagem {
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 97px;
    
      

  }



  .Link {
    text-decoration: none;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
    width: 267px;
    height: 20px;
    position: absolute;
    top: 50px;
    left: 1210px;
  }

  .Link_1 {
    text-decoration: none;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
    width: 267px;
    height: 20px;
    position: absolute;
    top: 50px;
    left: 1300px;
  }

  .Link_2 {
    text-decoration: none;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
    width: 267px;
    height: 20px;
    position: absolute;
    top: 50px;
    left: 1400px;
  }


  .logo {

    width: 150px;
    height: 35px;
    position: absolute;
    top: 50px;
    left: 50px;


  }

  .imagem_mulher1 {

    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 100px;
    width: 307px;
    height: 370px ;
    top: 221px;
    left: 672px;    
  }


.imagem_mulher2 {

  margin-left: -100px;

}


  




  

 
