.body {
  background: #afa96e;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.imagem {
  justify-content: center;
  display: flex;
  align-items: center;
  margin-top: 97px;
}

.logo {
  width: 150px;
  height: 35px;
  position: absolute;
  top: 50px;
  left: 50px;
}

.imagem_mulher1 {
  width: 366.34px;
  height: 550px;
  top: 221px;
  left: 672px;
  border: 1px;
  border-width: thin;
  border-style: solid;
  border-color: white;
  padding: 20px;
  margin-bottom: 30px;
}

.imagem_mulher2 {
  margin-left: -100px;
  width: 307px;
  height: 370px;
}

@media (max-width){
  .body
  {
    width: 100%;
    background: #afa96e;
  }
  
}

@media (max-width: 1366px) {
  .body
  {
    width: 100%;
    background: green;
  }

  .imagem_mulher1 {
    width: 100%;
    width: 300px;
    height: 470px;
  }
  .imagem_mulher2 {
    width: 100%;
    width: 270px;
    height: 290px;
  }
  
}

@media (max-width: 768px) {
  .body
  {
    width: 100%;
    background: orange;
  }
  .imagem_mulher1 {
    width: 100%;
    width: 270px;
    height: 440px;
  }
  .imagem_mulher2 {
    width: 100%;
    width: 240px;
    height: 260px;
  }
  
}

@media (max-width: 425px) {
  .body
  {
    width: 100%;
    background: blue;
    margin-top: 100px;
  }
  .imagem_mulher1 {
    width: 100%;
    width: 210px;
    height: 350px;
    margin-top: 30px;
}
.imagem_mulher2 {
  width: 100%;
  width: 210px;
  height: 230px;
  margin-top: 30px;
}

.nav-item {
  justify-content: center;
}

}
  









