.body {
    background: #7C8034;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.imagem {
    justify-content: space-around;
    display: flex;
    align-items: center;
    margin-top: 200px;
    
}

.imagem-mulher1{
    width: 250px;
    height: 350px;
    border: 20px;
    border-radius: 30px;
    border-style: solid;
    border-color: white;
}

.imagem-mulher2 {
    width: 250px;
    height: 350px;
    border: 20px;
    border-radius: 30px; 
    border-style: solid;
    border-color: #F1F5D8;
}

.imagem-mulher3 {
    width: 250px;
    height: 350px;
    border: 20px;
    border-radius: 30px;
    border-style: solid;
    border-color: white;
}

.logo {
    width: 150px;
    height: 35px;
    position: absolute;
    top: 50px;
    left: 50px;
}

.logo-kalma {
    width: 400px;
    height: 70px;
    top: 143px;
    position: absolute;
}

.img {
    width: 100%;
}

@media (max-width: 800px) {
    .imagem {
        display: block;
        width: 100%;
        justify-content: space-around;
    }
}
