.body {
    background: #afa96e;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    width: 150px;
    height: 35px;
    position: absolute;
    top: 50px;
    left: 50px;
    margin-right: 20px;
}

.imagem {
    display: flex;
    width: 400px;
    height: 70px;
    top: 143px;
    position: absolute;
}

.logo-sobre-nos {
    width: 422.44px;
    height: 335px;
    position: absolute;
    top: 270px;
    left: 130px;
    border: 1px;
}

.container p {
    width: 469px;
    height: 336px;
    font-size: 1.5rem;
    margin-top: 200px;
    margin-left: 701px;
    display: flex;
    font-weight: 400px;
}

@media screen and (max-width: 1000px) {
    .container p {
        width: 375,2px;
        height: 268,8px;
        font-size: 1.2rem;
        margin-top: 600px;
        margin-left: 70px;
        display: block;
    }
}